/* =========================
   Global Styles
========================= */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a1a2b;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin: 0;
}

a { color: #a2d5f2; text-decoration: none; }
a:hover { color: #fff; }
